USE [test1]
GO
/****** Object:  Table [dbo].[country_mast]    Script Date: 15-12-2025 13:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country_mast](
	[country_id] [bigint] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](100) NOT NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL,
	[created_by] [bigint] NULL,
	[modified_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[country_mast] ON 

INSERT [dbo].[country_mast] ([country_id], [country_name], [created_date], [updated_date], [created_by], [modified_by]) VALUES (1, N'Afghanistan', CAST(N'2025-12-13' AS Date), CAST(N'2025-12-13' AS Date), 1, 1)
INSERT [dbo].[country_mast] ([country_id], [country_name], [created_date], [updated_date], [created_by], [modified_by]) VALUES (2, N'Aland Islands', CAST(N'2025-12-13' AS Date), CAST(N'2025-12-13' AS Date), 1, 1)
INSERT [dbo].[country_mast] ([country_id], [country_name], [created_date], [updated_date], [created_by], [modified_by]) VALUES (3, N'Albania', CAST(N'2025-12-13' AS Date), CAST(N'2025-12-13' AS Date), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[country_mast] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__country___F70188944679866F]    Script Date: 15-12-2025 13:36:29 ******/
ALTER TABLE [dbo].[country_mast] ADD UNIQUE NONCLUSTERED 
(
	[country_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
